html {
  font-size: 62.5%
}

body {
  --primary-color: #002642;
  --secondary-color: #C9D5B5;
  --secondary-lighter-color: #e2f1c8;
  --tertiary-color: #3581B8;
  --tertiary-lighter-color: #46a8ef;
  --text-color: #fff;
  --base: 0.4rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--primary-color);
  color: var(--text-color);
  font-size: calc(var(--base) * 5);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.4;
  margin: 1rem auto 10rem;
  max-width: 66rem;
  padding: calc(var(--base) * 8) calc(var(--base) * 5);
}

h1 {
  font-size: calc(var(--base) * 12);
  margin: 0 0 calc(var(--base) * 6);
  line-height: 1.2;
}

h2 {
  font-size: calc(var(--base) * 7);
  margin: calc(var(--base) * 12) 0 calc(var(--base) * 5);
  line-height: 1.2;
}

small {
  display: block;
  margin: 0 0 1.8rem;
}

p {
  margin: calc(var(--base) * 6) 0;
}

a {
  color: var(--secondary-color);
  border-bottom: 1px solid transparent;
  display: inline-block;
  text-decoration: none;
  transition: border 150ms ease-out;
}

a:hover {
  border-color: currentColor;
}

button {
  background: var(--secondary-color);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--primary-color);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 1.4rem;
  padding: 1.8rem;
  transition: background 150ms ease-out;
}

button:hover {
  background: var(--secondary-lighter-color);
}

button + button {
  margin: 0 0 0 1.2rem;
}

.pokemon {
  align-items: center;
  background: var(--tertiary-color);
  border-radius: 0.2rem;
  border: 1px solid var(--tertiary-lighter-color);
  display: flex;
  font-size: 1.4rem;
  margin: 12px 0;
  width: fit-content;
  padding: 0 20px 0 0;
}

.pokemon img {
  width: 9.6rem;
  height: 9.6rem;
}